{{% BLOCKS }}
{{< layout }}
{{$ title }}Meg{{/ title }}

{{$ content}}



<h1>Meg</h1>

<form action="{{PATH}}" method="post">
	
	<p>
		<input {{#errors.name}}class="error"{{/errors.name}} type="text" name="name" value="{{me.name}}" placeholder="Ditt navn" autocomplete="name" required>
	{{#errors.name}}<div class="field error">{{.}}</div>{{/errors.name}}

	<p>
		<input {{#errors.email}}class="error"{{/errors.email}} type="email" name="email" value="{{me.email}}" placeholder="Din epost" autocomplete="email" required>
	{{#errors.email}}<div class="field error">{{.}}</div>{{/errors.email}}
	
	<p>
		<input {{#errors.password}}class="error"{{/errors.password}} type="text" name="password" placeholder="Passord, om du vil bytte" value="{{me.password}}" autocomplete="off">
	{{#errors.password}}<div class="field error">{{.}}</div>{{/errors.password}}

	<p><button class="icon" type="submit">{{#svg}}save{{/svg}}</button>
</form>



{{/ content}}
{{/ layout }}
