{{% BLOCKS }}
{{< layout }}
{{$ title }}Meg{{/ title }}

{{$ content}}



<h1>Meg</h1>

<form action="{{this}}" method="post">
	
	<p>
		<input {{#errors.name}}class="error"{{/errors.name}} type="text" name="name" value="{{user.name}}" placeholder="Ditt navn" autocomplete="name" required>
	<ul class="errors">{{#errors.name}}<li>{{.}}</li>{{/errors.name}}</ul>

	<p>
		<input {{#errors.email}}class="error"{{/errors.email}} type="email" name="email" value="{{user.email}}" placeholder="Din epost" autocomplete="email" required>
	<ul class="errors">{{#errors.email}}<li>{{.}}</li>{{/errors.email}}</ul>
	
	<p>
		<input {{#errors.password}}class="error"{{/errors.password}} type="text" name="password" placeholder="Passord, om du vil bytte" value="{{user.password}}" autocomplete="off">
	<ul class="errors" optional>{{#errors.password}}<li>{{.}}</li>{{/errors.password}}</ul>

	<p><button class="icon" type="submit">{{#svg}}save{{/svg}}</button>
</form>



{{/ content}}
{{/ layout }}
