{{host}} reset link

Click [this link]({{#url}}/user/reset?email={{user.email}}&token={{user.token}}{{/url}}) to login and change your password :)

Alternatively, copy the link below and paste it into your browser:

- {{#url}}/user/reset?email={{user.email}}&token={{user.token}}{{/url}}

***Note:** If you did not initiate this password reset, simply ignore this email.*
