{{% BLOCKS }}
{{< layout }}
{{$ title }}Nytt sted{{/ title }}

{{$ content}}

<h1>
	<a href="{{_path}}">
		{{#svg}}place{{/svg}}
		Nytt…
	</a>
</h1>

{{> edit/location}}



{{/ content}}
{{/ layout }}
