{{% ACCESS admin }}
{{% BLOCKS }}
{{< layout }}
{{$ title }}Brukere{{/ title }}

{{$ content}}

<h1>Brukere</h1>

<table class="fixed full-width">
	<thead>
		<tr>
			<th style="width: 32%">Name</th>
			<th style="width: 32%">Email</th>
			<th style="width: 32%">Roles</th>
			<th style="width: 2.5em"></th>
		</tr>
	</thead>
	<tbody>
		<!-- ko template: {name: 'user-row', foreach: users, afterAdd: afterAdd} -->
		<!-- /ko -->
	</tbody>
	<tfoot>
		<tr>
			<td colspan="3">
			<td>
				<a href="javascript:void(0)" data-bind="click: add">{{#svg}}add{{/svg}}</a>
			</td>
		</td>
	</tfoot>
</table>

{{> waiting }}


<script type="text/html" id="user-row">
	<tr spellcheck="false">
		<!-- ko ifnot: editing -->
		<td data-bind="text: name, attr: {title: name}"></td>
		<td data-bind="text: email, attr: {title: email}"></td>
		<td data-bind="text: roles, attr: {title: roles}"></td>
		<!-- /ko -->
	
		<!-- ko if: editing -->
		<td>
			<input type="text" data-bind="value: name, event: {keydown: keydown}"></div>
			<div class="cell error" data-bind="text: errors().name"></div>
		</td>
		<td>
			<input type="email" data-bind="value: email, event: {keydown: keydown}"></div>
			<div class="cell error" data-bind="text: errors().email"></div>
		</td>
		<td>
			<input type="text" data-bind="value: roles, event: {keydown: keydown}"></div>
			{{! TODO: http://knockoutjs.com/documentation/selectedOptions-binding.html }}
			<div class="cell error" data-bind="text: errors().roles"></div>
		</td>
		<!-- /ko -->

		<td>
			<a href="javascript:void(0)" data-bind="click: edit, visible: canEdit">{{#svg}}edit{{/svg}}</a>
			<a href="javascript:void(0)" data-bind="click: $parent.remove.bind($parent, $data), visible: canRemove">{{#svg}}remove{{/svg}}</a>
			<a href="javascript:void(0)" data-bind="click: cancel, visible: canCancel">{{#svg}}close{{/svg}}</a>
			<a href="javascript:void(0)" data-bind="click: save, visible: canSave">{{#svg}}save{{/svg}}</a>
		</td>
	</tr>
</script>


<script defer src="js/admin-users.js"></script>


{{/ content}}
{{/ layout }}
