{{% BLOCKS }}
{{< layout }}
{{$ title }}Om{{/ title }}

{{$ content}}


<h1>Om denne siden</h1>

<dl>
	<dt>Cookies</dt>
		<dd>Cookies brukes til å holde styr på innloggede brukere, samt besøksstatistikk.

	<dt>Ikoner</dt>
		<dd><a href="http://www.flaticon.com/authors/freepik">Freepik</a>
		<dd><a href="http://www.flaticon.com/authors/yannick">Yannick</a>
		<dd><a href="http://www.flaticon.com/authors/zurb">Zurb</a>
		<dd><a href="http://www.flaticon.com/authors/catalin-fertu">Catalin Fertu</a>
		<dd><a href="http://www.flaticon.com/authors/madebyoliver">Madebyoliver</a>
			
		<dd><a href="http://www.flaticon.com/authors/chanut-is-industries">Chanut is Industries</a>
		<dd><a href="http://www.flaticon.com/authors/simpleicon">SimpleIcon</a>
		<dd>via <a href="http://www.flaticon.com">Flaticon</a>
	
	<dt>Webutvikler</dt>
		<dd><a href="http://www.geekality.net">Torleif Berger</a>

	<dt>Kildekode</dt>
		<dd><a href="https://github.com/Svish/sda.digital">GitHub</a>

	<dt>Webanalyse</dt>
		<dd><a href="https://clicky.com/100911258">Clicky</a>

</dl>


<hr>

<h2>#rgb</h2>

<p class="accent accent1">
<p class="accent accent2">



{{/ content}}

{{/ layout }}
