{{% BLOCKS }}
{{< layout }}
{{$ title }}Admin{{/ title }}

{{$ content}}

<div class="menu no-select">

	<section>
		<a class="frame" href="admin/content/fresh">
			{{#svg}}add{{/svg}}<br>
			Nytt innhold
		</a>
	</section>

	<section>
		<a class="frame" href="admin/speaker/index">
			{{#svg}}people{{/svg}}<br>
			Talere
		</a>
		<a class="frame" href="admin/series/index">
			{{#svg}}list{{/svg}}<br>
			Møteserier
		</a>
		<a class="frame" href="admin/place/index">
			{{#svg}}place{{/svg}}<br>
			Steder
		</a>
	</section>	

	<section>
		<a class="frame" href="user/me">
			{{#svg}}person{{/svg}}<br>
			Meg
		</a>
		<a class="frame" href="user/logout">
			{{#svg}}logout{{/svg}}<br>
			Logg ut
		</a>
	</section>

</div>

{{/ content}}
{{/ layout }}
