{{% BLOCKS }}
{{< layout }}
{{$ title }}Kontakt oss{{/ title }}

{{$ content}}



<h1>Kontakt oss</h1>

<form action="{{PATH}}" method="post">
	
	<p><input {{#errors.from}}class="error"{{/errors.from}} type="email" name="from" placeholder="Din epost" value="{{_post.from}}" required>
	<ul class="errors">{{#errors.from}}<li>{{.}}</li>{{/errors.from}}</ul>
	
	<p><input {{#errors.subject}}class="error"{{/errors.subject}} type="text" name="subject" placeholder="Emne" value="{{_post.subject}}" required>
	<ul class="errors">{{#errors.subject}}<li>{{.}}</li>{{/errors.subject}}</ul>
	
	<p><textarea {{#errors.message}}class="error"{{/errors.message}} name="message" placeholder="Melding" required>{{_post.message}}</textarea>
	<ul class="errors">{{#errors.message}}<li>{{.}}</li>{{/errors.message}}</ul>
	
	<p><button class="icon" type="submit">{{#svg}}send;style="width:2em"{{/svg}}</button>
</form>



{{/ content}}
{{/ layout }}
