{{% BLOCKS }}
{{< layout }}
{{$ title }}{{status}} {{title}}{{/ title }}

{{$ content}}


	<p class="center">
		<img class="frame" src="https://http.cat/{{status}}">


	{{! TODO: Hide debug in production / not admin? }}
	{{#user}}
		{{{debug}}}
		{{{stack}}}
	{{/user}}



{{/ content}}
{{/ layout }}
