{{% BLOCKS }}
<!DOCTYPE html>
<html lang="{{LANG}}">
	<head>
		<title>{{$title}}{{/title}} - SDA.digital</title>

		<base href="{{#url}}/{{/url}}" />
		<link rel="canonical" href="{{#url}}/{{PATH}}{{/url}}">

		{{!>favicons}}

		<meta name="viewport" content="width=device-width, initial-scale=1">
		{{#_css}}
		<link rel="stylesheet" type="text/css" href="{{.}}">
		{{/_css}}

		{{#_js}}
		<script type="text/javascript" src="{{.}}"></script>
		{{/_js}}
		<script>
			var Site = {Url: {Base: '{{url}}', Current: '{{PATH}}'}};
		</script>

	</head>
	<body class="{{pathClasses}}">
		{{> header}}

		{{{messages}}}

		<div id="content">
			{{$content}}{{/content}}
		</div>

		{{> footer}}


		{{{clicky}}}
		
	</body>
</html>
