<nav role="navigation">
	<ul id="main-menu">
		<li><a href="{{#isCurrent}}person/index{{/isCurrent}}">Personer</a>
		<li><a href="{{#isCurrent}}series/index{{/isCurrent}}">Møteserier</a>
		<li><a href="{{#isCurrent}}place/index{{/isCurrent}}">Steder</a>
		{{#user}}
		<li><a href="{{#isCurrent}}admin{{/isCurrent}}">Admin</a>
		{{/user}}
	</ul>
</nav>
