<nav role="navigation">
	<ul id="main-menu">
		<li><a href="person/index">Personer</a>
		<li><a href="series/index">Møteserier</a>
		<li><a href="place/index">Steder</a>
		{{#user}}
		<li><a href="admin">Admin</a>
		{{/user}}
	</ul>
</nav>