{{% ACCESS login }}
{{% BLOCKS }}
{{< layout }}
{{$ title }}Admin{{/ title }}

{{$ content}}

<div class="menu no-select">

	{{#role.editor}}
	<section>
		<a class="frame" href="manage/content/fresh">
			{{#svg}}add{{/svg}}<br>
			Nytt innhold
		</a>
	</section>

	<section>
		<a class="frame" href="manage/series">
			{{#svg}}list{{/svg}}<br>
			Serier
		</a>
		<a class="frame" href="manage/speakers">
			{{#svg}}speakers{{/svg}}<br>
			Talere
		</a>
		<a class="frame" href="manage/places">
			{{#svg}}place{{/svg}}<br>
			Steder
		</a>
	</section>
	{{/role.editor}}

	<section>
		{{#role.admin}}
		<a class="frame" href="admin/users">
			{{#svg}}people{{/svg}}<br>
			Alle
		</a>
		{{/role.admin}}
		{{#role.login}}
		<a class="frame" href="user/me">
			{{#svg}}person{{/svg}}<br>
			Meg
		</a>
		<a class="frame" href="user/logout">
			{{#svg}}logout{{/svg}}<br>
			Logg ut
		</a>
		{{/role.login}}
	</section>

</div>

{{/ content}}
{{/ layout }}
