{{% ACCESS login }}
{{% BLOCKS }}
{{< layout }}
{{$ title }}Admin{{/ title }}

{{$ content}}

<div class="menu no-select">

	<section>
		{{#role.editor}}
		<a class="frame" href="manage/content/fresh-dirs">
			{{#svg}}add{{/svg}}<br>
			Nytt innhold…
		</a>
		<a class="frame" href="manage/content/fresh-series">
			{{#svg}}list{{/svg}}<br>
			…i serier
		</a>
		{{/role.editor}}
	</section>

	<section>
		{{#role.admin}}
		<a class="frame" href="admin/users">
			{{#svg}}people{{/svg}}<br>
			Alle
		</a>
		{{/role.admin}}
		{{#role.login}}
		<a class="frame" href="user/me">
			{{#svg}}person{{/svg}}<br>
			Meg
		</a>
		<a class="frame" href="user/logout">
			{{#svg}}logout{{/svg}}<br>
			Logg ut
		</a>
		{{/role.login}}
	</section>

	{{#role.admin}}
	<section>
		<a class="frame" href="manage/content/issues">
			{{#svg}}error{{/svg}}<br>
			Problemer
		</a>
	</section>
	{{/role.admin}}
</div>

{{/ content}}
{{/ layout }}
