
# Charset
AddDefaultCharset UTF-8



# Compression
AddOutputFilterByType DEFLATE image/svg+xml text/html text/plain text/xml text/css text/javascript application/javascript application/xhtml+xml

# Expiration
ExpiresActive On
ExpiresByType image/svg+xml "access plus 1 week"
ExpiresByType image/x-icon "access plus 1 week"
ExpiresByType image/png "access plus 1 week"



# Environment
RewriteEngine on
RewriteBase /
SetEnv BASE /
SetEnv ENV prod

DirectorySlash Off
Options -Indexes


# Remove www.
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule .* http://%1/$0 [R=301,L]


# Everything, except certain files => index.php
RewriteCond $0 =index.php [OR]
RewriteCond $0 ^(config|src|vendor) [OR]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule .* index.php?path_uri=/$0 [L,PT,QSA]
