
{{#hasFiles}}
<form action="{{PATH}}" method="post">

	{{#files}}
		<input type="checkbox" name="files[]" value="{{path}}" id="{{checkboxId}}" />
		<label for="{{checkboxId}}">{{basename}}</label>
		<br>
	{{/files}}

	<p>
		<button type="button">...</button>
		<button type="submit">→</button>

</form>
{{/hasFiles}}
