body.about #content
{
	dt
	{
		clear: both;
	}
	dd
	{
		display: inline;
		margin: 0;
	}
	dd + dd
	{
		&::before
		{
			content: ', ';
			margin-right: .2em;
			opacity: .5;
		}
	}


	.color
	{
		position: relative;
		overflow: hidden;
		margin-bottom: 2em;
		padding: .75em 1.5em;
		border: 2px solid @background-color;
		outline: 1px solid @text-color;
		color: @text-color;
		text-shadow:
			 2px  0px 1px @background-color,
			-2px  0px 1px @background-color,
			 0px  2px 1px @background-color,
			 0px -2px 1px @background-color,
			 2px  0px 1px @background-color,
			-2px  0px 1px @background-color,
			 0px  2px 1px @background-color,
			 0px -2px 1px @background-color;
	 	span+span
	 	{
	 		float: right;
	 	}
	}

}
