body.manage.content.fresh-dirs #content
{
	
	.directories
	{
		th:not(:first-child),
		td:not(:first-child)
		{
			text-align: center;
		}
	}
}


body.manage.content.fresh-content #content
{
	h2,p
	{
		margin-bottom: .5em;
	}

	input,
	textarea
	{
		padding-top: .15em;
		padding-bottom: .15em;
	}

	table
	{
		tbody
		{
			padding-bottom: 1em;
			tr
			{
				padding-left: 1em;
			}
			td
			{
				vertical-align: baseline;
				input
				{
					width: 100%;
				}
			}
			&:empty
			{
				outline: 1px solid red;
			}
		}
	}


	.flex
	{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		&>*
		{
			margin-right: 1em;
		}
	}

	.dropzone
	{
		background: url(icon/insert.svg) center no-repeat;
		background-size: 1em 1em;
	}
}
