<ul class="item-list series-list no-select">
	{{#series_list}}
	<li>
		<a href="{{url}}">
			{{^n}}<span class="count">{{count}}{{#total}}/{{total}}{{/total}}</span>{{/n}}
			{{#n}}<span class="count">#{{n}}</span>{{/n}}

			{{#svg}}list{{/svg}}
			{{title}}			

			{{#speakers}}
			<div class="meta">
				{{speakers | __ | ucfirst}}
			</div>
			{{/speakers}}

		</a>
	</li>
	{{/series_list}}
</ul>
