{{% ACCESS editor }}
{{% BLOCKS }}
{{< layout }}
{{$ title }}Nye filer{{/ title }}

{{$ content}}


<h1>Nye filer</h1>

<form action="{{PATH}}" method="post" data-bind="submit: submit">

	<!-- ko template: {name: 'group-template', foreach: groups} -->
	<!-- /ko -->

	<hr>

	<p>
		<button type="reset" data-bind="click: doConfirm">Reset</button>
		<button type="submit" data-bind="text: submitLabel, enable: selectedFiles().length > 0">→</button>
	</p>

</form>



<script type="text/html" id="group-template">
	<section>
		<h2 data-bind="text: group"></h2>

		<ul class="checkbox-list">
			<!-- ko template: {name: 'file-template', foreach: files} -->
			<!-- /ko -->
		</ul>

		<p>
			<button type="button" data-bind="click: toggle">...</button>
		</p>
	</section>
</script>



<script type="text/html" id="file-template">
	<li>
		<input data-bind="attr:{id:$parentContext.$index()+'-'+$index()}, checked: selected" type="checkbox" name="files[]" />
		<label data-bind="attr:{for:$parentContext.$index()+'-'+$index()}, text: name"></label>
	</li>
</script>

{{!>kodebug-raw}}

<script defer src="js/manage-content-fresh.js"></script>

{{/ content}}
{{/ layout }}
