{{% ACCESS editor }}
{{% BLOCKS }}
{{< layout }}
{{$ title }}Nye filer{{/ title }}

{{$ content}}


<h1>Nye filer</h1>


<p data-bind="template: 'buttons-template'"></p>

<!-- ko template: template -->
<!-- /ko -->

<p data-bind="template: 'buttons-template'"></p>

{{> waiting }}




<script type="text/html" id="select-template">
	<!-- ko foreach: dirs -->
	<section>
		<h2 data-bind="text: path"></h2>

		<ul class="checkbox-list no-select">
			<!-- ko foreach: files -->
			<li>
				<input data-bind="attr:{id:$parentContext.$index()+'-'+$index()}, checked: selected" type="checkbox" name="files[]" />
				<label data-bind="attr:{for:$parentContext.$index()+'-'+$index()}, text: filename"></label>
			</li>
			<!-- /ko -->
		</ul>

		<p>
			<button type="button" data-bind="click: toggle">{{#svg}}list{{/svg}}</button>
			<span class="button-note" data-bind="text: selectedLabel, fadeVisible: selected().length > 0"></span>
		</p>
	</section>
	<!-- /ko -->
</script>



<script type="text/html" id="enter-template">
	<section>

			<!-- ko foreach: {data: selected, afterRender: load} -->
			<pre style="font-size: x-small" data-bind="text: ko.toJSON($data, null, 2)"></pre>
			<!-- /ko -->

	</section>
</script>


<script type="text/html" id="buttons-template">
	<button data-bind="click: prev, enable: canPrev">←</button>
	<button data-bind="click: next, enable: canNext">→</button>
	<span class="button-note" data-bind="fadeVisible: selected().length == 0">Ingen filer valgt...</span>

</script>

<script defer src="js/manage-content-fresh.js"></script>

{{/ content}}
{{/ layout }}
