{{% BLOCKS }}
{{< layout }}
{{$ title }}{{content.title}}{{/ title }}

{{$ content}}


{{#content}}

	<h1>
		<a href="{{url}}">
			{{title}}
		</a>
	</h1>
	<div class="meta no-select">
		{{#location}}
		<span><b>Sted:</b> <a href="{{url}}">{{name}}</a></span>
		{{/location}}
		<span><b>Tatt opp:</b> {{time | f.flex | ucfirst}}</span>
		<span><b>Lagt til:</b> <time datetime="{{created | f.iso}}">{{created | f.full}}</time></span>
	</div>

{{#role.admin}}
<pre>// TODO
* Edit content
* Add content to series
* Media player
</pre>
{{/role.admin}}

	{{#md}}{{summary}}{{/md}}


	{{> list/file}}


	{{> list/person}}
	{{> list/series}}

{{/content}}


{{/ content}}
{{/ layout }}
