<div class="buttons">
	<button data-bind="click: save, visible: canSave">{{#svg}}save{{/svg}}</button>
	<button data-bind="click: cancel, visible: canCancel">{{#svg}}close{{/svg}}</button>
	<button data-bind="click: edit, visible: canEdit">{{#svg}}edit{{/svg}}</button>
	<button data-bind="click: remove, visible: canRemove">{{#svg}}remove{{/svg}}</button>
</div>
