{{#role.editor}}

<div id="editor" class="gone">
	<div data-bind="with: item">
		<p>
			<input type="text" placeholder="Navn" data-bind="value: name" required>
			<span class="field error" data-bind="text: $parent.errors().name"></span>
		</p>
	</div>
	{{> edit/buttons}}
</div>

<script>
var ID = '{{person_id}}';
</script>
<script defer src="js/edit-person.js"></script>

{{/role.editor}}
