{{#role.editor}}

<div id="editor" class="gone">
	<div data-bind="with: item">
		<p>{{#svg}}help{{/svg}} Innhold i serien kan sorteres via drag'n'drop eller {{#svg}}up-arrow{{/svg}} {{#svg}}down-arrow{{/svg}}.
		
		<p>{{#svg}}help{{/svg}} Innhold som fjernes fra serien slettes ikke, men fjernes kun fra denne serien.

		<p>{{#svg}}help{{/svg}} Innhold som ikke er i listen over dine siste lagt til, legges til via innholdets side.

		<p>
			<input type="text" placeholder="Tittel" data-bind="value: title" required>
			<span class="field error" data-bind="text: $parent.errors().title"></span>

	</div>
	{{> edit/buttons}}
</div>

<script>
var ID = '{{series_id}}';
</script>
<script defer src="js/edit-series.js"></script>

{{/role.editor}}
