{{% BLOCKS }}
{{< layout }}
{{$ title }}Ny serie{{/ title }}

{{$ content}}

<h1>
	<a href="{{_path}}">
		{{#svg}}list{{/svg}}
		Ny…
	</a>
</h1>

{{> edit/series}}

{{> list/content}}

<section class="fresh" data-bind="html: fresh"></section>



{{/ content}}
{{/ layout }}
