<fieldset class="content" id="{{#idGen}}next{{/idGen}}">
	
	<p>
		<label for="{{idGen}}-title">Tittel</label>
		<br>
		<input id="{{idGen}}-title" type="text" name="content[{{idGen}}][title]" value="{{title}}" required>
	</p>
	
	<div class="file"
		data-name="{{filename}}"
		data-ext="{{fileext}}"
		data-time="{{time}}"
		data-type="{{mime.type}}"
		data-encoding="{{mime.encoding}}">{{path}}</div>

</fieldset>
