{{% BLOCKS }}
{{< layout }}
{{$ title }}Legg til{{/ title }}

{{$ content}}

<h1>Legg til</h1>

<p><i><b>TODO:</b> Forms for adding these files...</i>

{{> adding}}


<script src="js/admin-add.js"></script>

{{/ content}}
{{/ layout }}
