{{% BLOCKS }}
{{< layout }}
{{$ title }}Fyll ut{{/ title }}

{{$ content}}

<h1>Fyll ut</h1>

<form action="{{PATH}}" method="post">


	<button type="submit">→</button>
</form>

<script src="js/admin-content-add.js"></script>


{{/ content}}
{{/ layout }}
