{{% BLOCKS }}
{{< layout }}
{{$ title }}Nye filer{{/ title }}

{{$ content}}

<h1>Nye filer</h1>

<form action="{{PATH}}" method="post" data-bind="visible: true" style="display:none">

	<section data-bind="foreach: view">
		<h2 data-bind="text: group"></h2>
		<div data-bind="foreach: files">
			<input data-bind="attr:{id:$parentContext.$index()+'-'+$index()}, checkedValue: path, checked: selected" type="checkbox" name="files[]" />
			<label data-bind="attr:{for:$parentContext.$index()+'-'+$index()}, text: name"></label>
			<br>
		</div>

		<p>
			<button type="button" data-bind="click: toggleSection">...</button>
	</section>

	<hr>
	<p>
		<button type="reset" data-bind="click: resetForm">Reset</button>
		<button type="submit" data-bind="click: submitForm">→</button>
	</p>
	
</form>

{{!>kodebug}}

<script src="js/admin-content-fresh.js"></script>

{{/ content}}
{{/ layout }}
