{{% BLOCKS }}
{{< layout }}
{{$ title }}{{file.name}}{{/ title }}

{{$ content}}


{{#file}}

	<h1>
		<a href="{{url}}">
			{{#svg}}database{{/svg}}
			{{name}}
		</a>
	</h1>


	<pre>// TODO: List file meta-data</pre>

	<h2>En del av</h2>
	{{> list/content}}


{{/file}}


{{/ content}}
{{/ layout }}
