{{% BLOCKS }}
{{< layout }}
{{$ title }}{{file.name}}{{/ title }}

{{$ content}}


{{#file}}

	<h1>
		<a href="{{url}}">
			{{#fileIcon}}{{type}}{{/fileIcon}}
			{{name}}
		</a>
	</h1>

<a class="download" href="{{url}}/download">{{#svg}}download{{/svg}}</a>

{{#role.admin}}
<pre>// TODO
* List file meta-data (recurse data>tag)
* Media player if audio/video/image
</pre>
{{/role.admin}}

	<h2>En del av</h2>
	{{> list/content}}


{{/file}}


{{/ content}}
{{/ layout }}
